<h1>Listing profiles</h1>

<table id="profiles-table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Age</th>
    <th>Mobile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Profile</a>